.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: relative;
  width: 100%;
  height: 300px;
}

.App-header .background-color {
  position: absolute;
  height: 100%;
  width: 75%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #605252 25%, #635C5C 45%, #605252 60%, #605252 75%, #716C6B 95%)
}

@media only screen and (max-width: 840px) and (min-width: 600px) {
  .App-header .banner-fade {
    width: 100%;
    right: 0;
  }
  .App-header .background-color {
    width: 100%;
  }
  .App-header .banner-image {
    width: 75%;
  }
  .App-header .background-color {
    background: linear-gradient(to top, #605252 25%, #635C5C 45%, #605252 60%)
  }
}

@media only screen and (min-width: 1200px) {
  .App-header .background-color {
    background: linear-gradient(to top, #605252 25%, #635C5C 45%, #605252 60%, #605252 85%)
  }
}

ul {
    -webkit-padding-start: 20px;
}

.banner-image {
  background: url('https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-0.3.5&s=4a647d42fac71c6e8e5ae5f45fe2d4c8&auto=format&fit=crop&w=752&q=80') no-repeat;
  background-size: cover;
  background-position: 10% 75%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.ui .App-header .header-image {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 500px;
}

.banner-fade {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  right: 25%;
  width: 75%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(255,255,255,1));
}

/* Phone display */
@media only screen and (max-width: 600px) {
  .banner-image {
    width: 100%;
  }
  .App-header .banner-fade {
    width: 100%;
    right: 0;
  }
  .App-header .background-color {
    width: 100%;
  }
  .ui .App-header .header-image {
    right: -10%;
    top: 25%;
    width: 300px;
  }
  .ui .grid .row.stackable-columns {
    flex-direction: column;
  }
  .ui>.ui.grid>.row.stackable-columns>.column {
    width: 100% !important;
  }
  .ui.container {
    text-align: left;
  }
}

.App-footer {
  position: absolute;
  bottom: 0;
  background-color: #222;
  width: 100%;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
