html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root {
  position: relative;
  min-height: 100%;
}

body .ui.grid {
  margin-bottom: 0;
}

.underline {
  text-decoration: underline;
}

.side-menu-wrapper .ui.side-menu a.item {
  transition: background-color 0.8s ease-out;
}

.side-menu-wrapper .ui.side-menu a.item:active {
  background-color: #222;
}

.App .ui.grid>.padded-row {
  padding: 40px 0;
}

.App .ui.grid>.un-padded-row {
  padding: 0;
}

.App .ui.header .sub.header.minor-padding {
  padding: 20px 0;
}

.footer-wrapper {
  padding-top: 80px;
}
